django==4.2.11
python-decouple==3.8
django-filter==23.5
djangorestframework==3.14.0
Markdown==3.5.2
celery==5.3.6
requests==2.31.0
zeep==4.2.1
aiohttp==3.9.3
model-bakery==1.17.0
pytest-django==4.8.0
pillow==10.2.0
channels==4.0.0
redis==5.0.3
channels-redis==4.2.0
daphne==4.1.0
